        p {
            color: red;
            font-size: 16px;
            font-weight: bold;
        }
        body {
         /* background-color: #f0f0f0; */
         background: linear-gradient(yellow, blue);
         
         /* font-family: Arial, sans-serif; */
        }
        h1, h2 {
         color: blue;
         text-align: center;
        }
        .tulis1 {
            color: green;
            font-size: 20px;
            font-family: Arial;
            font-style: italic;
        }

        #tulis2 {
            color: yellow;
            font-size: 25px;
            font-family: Impact;
            font-weight: bold;
        }
        p {
         color: #333;
         line-height: 1.5;
        }

        a {text-decoration: none;}
        a:link { color: blue; }
        a:visited { color: purple; }
        a:hover { color: red; }
        a:active { color: green; }
        
        p::first-line {
         font-weight: bold;
         color: orange;
        }
        p::first-letter {
         font-size: 2em;
        }